@model IEnumerable<searcher.Models.Article>
@{
    ViewBag.Title = "Home Page";

}


<div class="row">
@using (Html.BeginForm())
{
    <p>
        Find: @Html.TextBox("searchString")
        <input type="submit" value="Search" />

    </p>
    <p>
        @{
            var markList = new SelectList(new[]
            {
                new SelectListItem { Text = "TF", Value = "TF", Selected = true },
                new SelectListItem { Text = "IDF", Value = "IDF"},
            }, "Value", "Text");
        }
        @Html.DropDownList("Marks", markList)
    </p>
    <p>
        Query: @ViewBag.Message
    </p>
}
    @if (Model != null)
    {
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.date.ToString("d") </td>
                    <td> @MvcHtmlString.Create(item.getAuthorsList().Replace(Environment.NewLine, "<br />")) </td>
                    <td> @Html.DisplayFor(modelItem => item.title) </td>
                    <td> @Html.DisplayFor(modelItem => item.description) </td>
                    <td> @Html.DisplayFor(modelItem => item.relevance) </td>
                    
                </tr>

            }
        </table>
    }

</div>